In [2]:
import pandas as pd
import os
import numpy as np

In [3]:
budget_data = "Resources/budget_data.csv"
budget_data_df = pd.read_csv(budget_data, encoding="ISO-8859-1")

In [4]:
in_thousands = budget_data_df["Profit/Losses"]
budget_data_df["in Dollars"] = in_thousands.map('${:,.2f}'.format)
budget_data_df.head(20)

        Date  Profit/Losses     in Dollars
0   Jan-2010         867884    $867,884.00
1   Feb-2010         984655    $984,655.00
2   Mar-2010         322013    $322,013.00
3   Apr-2010         -69417    $-69,417.00
4   May-2010         310503    $310,503.00
5   Jun-2010         522857    $522,857.00
6   Jul-2010        1033096  $1,033,096.00
7   Aug-2010         604885    $604,885.00
8   Sep-2010        -216386   $-216,386.00
9   Oct-2010         477532    $477,532.00
10  Nov-2010         893810    $893,810.00
11  Dec-2010         -80353    $-80,353.00
12  Jan-2011         779806    $779,806.00
13  Feb-2011        -335203   $-335,203.00
14  Mar-2011         697845    $697,845.00
15  Apr-2011         793163    $793,163.00
16  May-2011         485070    $485,070.00
17  Jun-2011         584122    $584,122.00
18  Jul-2011          62729     $62,729.00
19  Aug-2011         668179    $668,179.00

In [5]:
total_months = budget_data_df["Date"].describe().loc[["count"]]
analysis_df = pd.DataFrame(total_months)
rename_months = analysis_df.rename(columns={"Date":"Months"})
rename_months

      Months
count     86

In [6]:
net_total = budget_data_df["Profit/Losses"].sum()
print(f'Total Net Profit: $ {net_total}')

Total Net Profit: $ 38382578

In [7]:
describe = budget_data_df["Profit/Losses"].describe().loc[['mean','min','max']]
describe_df = pd.DataFrame(describe)
describe_df["In Dollars"] = describe.map('${:,.2f}'.format)
describe_df = describe_df[["In Dollars"]]
describe_df

          In Dollars
mean     $446,309.05
min   $-1,196,225.00
max    $1,170,593.00

In [8]:
budget_data_df.loc[budget_data_df.loc[:,"Profit/Losses"]==1170593,:]

        Date  Profit/Losses     in Dollars
25  Feb-2012        1170593  $1,170,593.00

In [9]:
budget_data_df.loc[budget_data_df.loc[:,"Profit/Losses"]==-1196225,:]

        Date  Profit/Losses      in Dollars
44  Sep-2013       -1196225  $-1,196,225.00

In [10]:
max_min_df = pd.DataFrame({"Type":["Max","Min"],"Case":[25,44],
           "Date":["Feb-2012","Sep-2013"],
           "In Dolars":["$1,170,593.00","-$1,196,225.00"]})
max_min_df

  Type  Case      Date       In Dolars
0  Max    25  Feb-2012   $1,170,593.00
1  Min    44  Sep-2013  -$1,196,225.00

In [11]:
print("Financial Analysis")
print("---------------------------")
output_df = pd.DataFrame({
    
"Output" : ["Total Months: 86", 
    "Total Net Profit: $ 38,382,578.00", 
    "Average Change: $446,309.05", 
    "Greatest Increase: Feb-2012 $1,170,593.00", 
    "Greatest Decrease: Sep-2013 -$1,196,225.00"]
})

print(output_df)

Financial Analysis
---------------------------
                                       Output
0                            Total Months: 86
1           Total Net Profit: $ 38,382,578.00
2                 Average Change: $446,309.05
3   Greatest Increase: Feb-2012 $1,170,593.00
4  Greatest Decrease: Sep-2013 -$1,196,225.00

In [12]:
output_df.to_csv("main_bank_output.csv", index=False, header=True)