In [2]:
import pandas as pd

In [3]:
file = "Resources/election_data.csv"

In [4]:
file_df = pd.read_csv(file)
file_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [8]:
total_votes = file_df.count()
#total_votes_df = pd.DataFrame(total_votes)
#total_votes_df
total_votes

Voter ID     3521001
County       3521001
Candidate    3521001
dtype: int64

In [9]:
candidates = file_df['Candidate'].value_counts()
candidates

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [21]:
percent_votes = file_df['Candidate'].value_counts() / 3521001
percent_votes_df = pd.DataFrame(percent_votes)

percent_votes_df = percent_votes_df.style.format({'Candidate': '{:,.0%}'.format})
percent_votes_df

In [38]:
print("           Election Results           ")
print("--------------------------------------")
#print("Total Votes: 3,521,001 ; Winner: Khan")
output_df = pd.DataFrame({                      
    "Candidates": ["Total_Votes", "Khan(winner)", "Correy", "Li", "O'Tooley"],
    "Percent_Vote": ["", "63%", "20%", "14%", "3%"],
    "Total_Votes": ["3,521,001", "2,218,231", "704,200","492,940", "105,630"]})
print(output_df)

           Election Results
--------------------------------------
     Candidates Percent_Vote Total_Votes
0   Total_Votes                3,521,001
1  Khan(winner)          63%   2,218,231
2        Correy          20%     704,200
3            Li          14%     492,940
4      O'Tooley           3%     105,630

In [41]:
output_df.to_csv("Main_Poll.csv", index=False, header=True)